@font-face {
    font-family: "PlusJakartaSans";
    src: url("assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
    font-weight: 500,800;
}
body{
    font-family:'PlusJakartaSans';
    font-size: 62.5%;
}
html{
    background-color: rgb(177, 179, 180);
}

@media  screen and (max-width:375px) {
    body{
        margin: 0 10px;
    }
}
@media  screen and (max-width:850px) {
    body{
        margin: 0 30px;
        padding: 0;
        width: 90%;
         min-width: 20rem;
    }
    html{
        background-color: white;
    }
    
}