h3,h5{
    margin-block-end: 0;
   
}

.title{
font-weight: 800;
display: flex;
& #counter{
    margin-left: .5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: hsl(219, 85%, 26%);
    text-align: center;
    color: white;
    border-radius: 10%;
}
}

.nav{
    margin: 0 1rem;
    font-size: 1rem;
    & ul {
        display: flex;
        list-style: none;
        align-items: baseline;
        justify-content: space-between;
        padding-inline-start: 0;
    }

    & #allRead--link{
        cursor: pointer;
        color:rgb(14, 20, 129) ;
    }
}

main{
    font-size: 1rem;
}