body {
  width: 40rem;
  margin: 5% auto;
  background-color: white;
  padding: 0 30px;
  border-radius: 10px;

  @media screen and (max-width:850px) {
    margin: 0 30px;
    padding: 0;
    width: 90%;
    min-width: 20rem;
  }

  @media screen and (max-width:375px) {

    margin: 0 10px;

  }


}

html {
  @media screen and (max-width:850px) {
    background-color: white;
  }
}
.error__modul{
  text-align: center;
  border: 2px solid rgb(233, 29, 29);
  border-radius: 15px;
  font-weight: bold;
}
.post {
  &__item {
    display: flex;
    flex-flow: column;
    
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 5px;
    font-size: 1rem;
    margin: 10px 0;
    @media screen and (max-width:375px) {

      margin: 10px 10px;
  
    }
    &--info{
      display: flex;

        }
    // background-color: rgba(141, 145, 158, 0.274);

    & .user--link {
      font-weight: 800;
      color: hsl(224, 21%, 14%);
    }

    & .signal {
      width: 7px;
      background-color: hsl(1, 90%, 64%);
      height: 7px;
      border-radius: 50%;
      margin: 3px 6px;
      display: inline-block;
    }

  }
  &__content{
    // background-color: aquamarine;
    & span:nth-child(5n){
      color: hsl(219, 14%, 63%);
      font-size: 14px;
    }
  }
  &__name--link {
    text-decoration: none;
    font-weight: 800;
  }

  

  &__content {
    width: 100%;
  }
  

  &__message {
    border: hsl(205, 33%, 90%) solid 2px;
    border-radius: 5px;
    padding: 15px;
    margin: 0;
    margin-top: 15px;
    width: 80%;
    cursor: pointer;
    &:hover{
      background-color:hsl(205, 33%, 90%) ;
    }
    @media screen and (max-width:375px) {
      width: 84%;
      margin: 10px auto;
 
    }
  }
  &__img{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  &__container{
    display: flex;
    justify-content: space-between;
  }

}
.user__img{
    width: 30px;
    height: 30px;
    margin: 10px;
    
}
.out_react--link {
  color: hsl(219, 12%, 42%);
}

.in_react--link {
  color: rgb(14, 20, 129);
}

//Footer
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 20px 10px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}